:root {
    --soft-blue: hsl(215, 51%, 70%);
    --cyan: hsl(178, 100%, 50%);

    --very-dark-blue--mainbg: hsl(217, 54%, 11%);
    --very-dark-blue--cardbg: hsl(216, 50%, 16%);
    --very-dark-blue-line: hsl(215, 32%, 27%);
    --white: hsl(0, 0%, 100%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p {
    color: var(--soft-blue);
}

body {
    background-color: var(--very-dark-blue--mainbg);
    color: var(--white);
    font-family: 'Outfit', sans-serif;
    height: 100vh;
}

body p {
    font-size: 18px;
}

.card {
    background-color: var(--very-dark-blue--cardbg);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    padding: 1.5rem;
    border-radius: .75rem;
}

.img-nft {
    max-width: 100%;
    border-radius: .5rem;
}

.nft {
    margin-top: 1rem;
}

.description {
    margin-top: 1rem;
    color: var(--soft-blue);
}

.price-expiration {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}

.price {
    display: flex;
    justify-content: center;
    align-items: center;
}

.price p {
    padding-left: .5rem;
    color: var(--cyan);
}

.expiration {
    display: flex;
    justify-content: center;
    align-items: center;
}

.expiration p {
    padding-left: .5rem;
}

hr {
    margin-top: 1rem;
}

.owner {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 1rem;
}

.owner img {
    height: 1.75rem;
    margin-right: .75rem;
    border-style: solid;
    border-radius: 1rem;
    border-width: .1rem;
}

span {
    color: var(--white);
}

.card .img-container {
    position: relative;
}

.card .img-container .overlay-img {
    position: absolute;
    top: 0;
    background-color: var(--cyan);
    width: 100%;
    height: calc(100% - 4px);
    z-index: 1;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.card .img-container .overlay-img:hover {
    opacity: .6;
    cursor: pointer;
}

.card .img-container .overlay-img img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.title:hover {
    color: var(--cyan);
    cursor: pointer;
}

span:hover {
    color: var(--cyan);
    cursor: pointer;
}