/* - Soft blue: hsl(215, 51%, 70%)
- Cyan: hsl(178, 100%, 50%)

- Very dark blue (main BG): hsl(217, 54%, 11%)
- Very dark blue (card BG): hsl(216, 50%, 16%)
- Very dark blue (line): hsl(215, 32%, 27%)
- White: hsl(0, 0%, 100%) */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(217, 54%, 11%);
    font-size: 18px
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: hsl(216, 50%, 16%);
}

h1 {
    color: hsl(0, 0%, 100%);
}

.description {
    color: hsl(215, 32%, 27%);
}

.price-expiration {
    display: flex;
    justify-content: space-between;
}

.expiration-date {
    color: hsl(215, 32%, 27%);
}

.price {
    color: hsl(178, 100%, 50%);
}

.owner {
    display: flex;
}

.img-nft {
    max-width: 100%;
}